//################################
//# mixin
//################################
@mixin danger-font-color{
  color: #eda776;
}

//################################
//# stlyle指定
//################################

html{
  height: 100%;
}

body{
  min-height: 100%;
}

div.height_10{
  height: 10px;
}

div#user_nav{
  span.a{
      padding-top: 17px;
      padding-bottom: 14px;
      text-shadow: none;
      display: block;
  }
}

label.required{
  abbr{
    @include danger-font-color;
  }
}

div.show-table table{
  thead{
    tr{
      th{
//        background-color: #debb27;
      }
    }
  }
}

.table{
  tbody tr.clickable:hover td {
    cursor: pointer;
  }
}

div.pagenate_style{
  margin: 50px 0;
  text-align: center;
}

form{
  .search_row{
    margin-top: 10px;
  }

  .search_btn_area{
    margin-top: 10px;
  }
}
